<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <header>
        <h1><%= htmlWebpackPlugin.options.myPageHeader %></h1>
    </header>
    <div id="content">
        <my-app></my-app>
    </div>
    <div id="my-app"></div>
    <footer>
        <section id="bio">
            <h2>Bio</h2>
            <p>I am a web developer who has been working on the web since 1998.</p>
            <p>I have experience in building web applications in many different languages, Ruby, Python, Java, PHP, Flash (old school) and javascript. Lately, I have becomme really interested in PWAs. I think this merger of mobile and web is the future and the key to tapping in to the billions of potential customers in emerging regions.</p>
            <p>Since 2006, I have been working for the salesforce.com marketing team. I am the technical lead on all didgital marketing projects that involve the we in EMEA.</p>
            <p>On the personal side, I am a dad of 2 and interests included photography, GAA (Cuala Abú!), American Football (Go Steelers!) and sea kayaking.</p>
        </section>
    </footer>
    

</body>
</html>